<p><%= t(:hello).capitalize %> <%= @resource.email %>!</p>

<p>Quelqu'un a demandé un code de réinitialisation du mot de passe.</p>

<p>Code de réinitialisation: <b><%= @token %></b></p>

<p><%= t '.ignore_mail_msg' %></p>